<h1> Corporate Policy</h1>
<br />
<br />
<p><b>Bootcamp Bus</b> corporate policy is based on 3 grand pillars:</p>
<br />

    <h2 style="color:darkblue"> Operational Safety and Security</h2>
    <ul>
        <li>Ensuring and seeking to raise operational safety and security</li>
        <li>Applying safety and security management</li>
        <li>Communicating at the highest level</li>
        <li>Establishing a culture of safety</li>
    </ul>
<hr />

<h2 style="color:darkblue">Quality and Customer Satisfaction</h2>
 <p>We aim to maintain our social, cultural, ethical and humanitarian values
    through productive management and an effective approach towards processes,
    the continuous improvement of our service quality with the customer at the centerpiece of interest 
    and the management of customer satisfaction together with our employees.</p>
<hr />

<h2 style="color:darkblue"> Occupational Health and the Environment</h2>
<p> Our main focus here at Bootcamp Bus, apart from being able to become programmers 
    and providing an excellenct travelling experience for our customers, is to provide 
    a liveable environment for generations to come, by identifying environmental risks and in 
    accordance to state laws, managing said risks and providing healthy and secure resources for our employees
    and our customers</p>
<br /> <hr />

<p> Based on these pilars, we always seek out for improving our provided services, with you, the travellers, always on our mind</p>
<p>Thank You for choosing Bootcamp Ktel.</p>
