
<h2 style="color:darkblue; text-decoration:underline"> Frequently Asked Questions</h2>
<hr />
<ul>
   <li> <a href="#Q1"> How Can I Cancel My Ticket?</a>                   </li>
   <li> <a href="#Q2"> Can I Buy a ticket at your facilities?</a>        </li>
   <li> <a href="#Q3"> What Am I Doing With My Life?</a>                 </li>
   <li> <a href="#Q4"> Is this Just Life?</a>                            </li>
   <li> <a href="#Q5"> Are You Going To Expand your Travel Routes?</a>   </li>
</ul>
<hr />

<a name="Q1">How Can I Cancel My Ticket?</a>
<p>Unfortunately At this time we can not cancel your ticker and refund you your money, 
    but our programming team is working on implementing such a feature</p>
<br />
<a name="Q2"> Can I Buy a ticket at your facilities?</a>
<p> Of course you can, but just to be certain about the availability of tickets, we strongly
    advise you to book your ticket through our site</p>
<br />
<a name="Q3">What Am I Doing With My Life?</a>
<p> If I knew what i was doing with mine, i would then proceed to analyze yours as well</p>
<br />
<a name="Q4"> Is this Just Life?</a>
<p> Or is it just fantasy.. Freddie was the best, right?</p>
<br />
<a name="Q5">Are You Going To Expand your Travel Routes?</a>
<p>Probably yes, if our company starts making profit... :)</p>
