<h1> Historical Facts</h1>
<br />
<p> Bootcamp Ktel Services, was an idea that came to us during a brainstorming session, regarding a team project
    required of us as part of the AFDEMP Bootcamp. Founding members, were Charalambos Tranoglou & Panagiotis Gklinos.
    The Site is based on the need to redefine a booking system for travelling by bus at different parts of Greece. 
    We have used Microsoft Visual Studio 2017 Community to work on our project.</p> 
<br />
<hr />
<p>The company was founded in April of 2017, and it has began with only a handful of available trips, to major cities in Greece.
    We have two fully working stations, one in the center of Athens, and one at the biggest port of Greece, Pireaus, so as to help
    travellers arriving by boat, who wish to continue their journey with ease. </p>
<hr />
<p> We have a small fleet of buses all of them equipped with state of the art technological features, such as wi-fi (wow!),
    and all of them are operated by drivers of excellent skills, most of whom are our professors or our classmates. </p>
<p> All you have to do, is choose where you want to travel, sit back comfortably, and let us travel you to infinity and beyond</p>
