

<h2 style="color:darkslateblue; text-decoration-line:underline;"> Useful Trip Information</h2>

<br /> <br />

<ul>
    <li>You are kindly requested to be at the departing station 30 minutes prior to departing time </li>
    <li>Your Baggage must never be left unattended due to security reasons</li>
    <li>For your safety, please make sure you do not carry any prohibited material in your baggage</li>
    <li>Pets must be checked in before departure and stored in the special area for pets</li>
    <li>In Case Of any Lost luggage, contact one of our employees immediately</li>
    <li>In case of late departure, you may be entitled to refunds on your ticket price</li>
</ul>

<p>If you have any further questions, feel free to contact us at any time</p>

