<h2 style="color:darkblue; text-decoration-line:underline"> Feel Free To Contact Us</h2>


<address>
    Irous 4<br />
    Athens, (I forgot the postal code)<br />
    <abbr title="Phone"><span class="glyphicon glyphicon-phone">+3069999999</span></abbr>
  
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Charis@BootcampKtel.gr</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Panagiotis@BootcampKtel.gr</a>
</address>
<br /> <br /> <hr />

<h2 style="color:darkblue; text-decoration-line:underline"> Or You Can Go Social On Us</h2>
<hr />
<ul>
    <li><i class="fa fa-twitter"></i> <a href="https://www.twitter.com" target="_blank">Follow us on Twitter</a></li>
    <li><i class="fa fa-facebook"></i> <a href="https://www.facebook.com" target="_blank">Find us on Facebook</a></li>
    <li><i class="fa fa-linkedin"></i> <a href="https://www.linkedin.com" target="_blank">We Have a LinkedIn as well</a></li>
</ul>